*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Poppins';
}
.container
{
    background-color: lightgrey;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
svg
{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    margin-left: 620px;
}

/*---header styling---*/
header
{
    display: flex;
    top: 0;
    left: 0;
    padding: 20px 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-family: 'Poppins';
    font-style: normal;
}

/*----- navigation bar styling ---*/
.nav-link
{
    display: flex;
    position: relative;
    left: 20px;
}
.nav-link ul 
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nav-link ul li
{
    list-style: none;
}
.nav-link ul li a
{
    display: inline-block;
    color: black;
    font-weight: 400;
    margin-left: 40px;
    padding: 10px;
    text-decoration: none;
}
.nav-link ul li a:hover
{
    color: blueviolet;
    transform: translateY(-2px);
}

/*--- homepage styling ---*/
.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    margin-bottom: 200px;
}
.content .textBox
{
    position: relative;
    box-sizing: content-box;
    margin: 160px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 60%;
}
.content .textBox h2
{
    color: #6CB840;
    font-size: 2em;
    line-height: 1.4em;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-align: start;

}
.content .textBox h2 span
{
    color: #EAAB1B;
}
.content .textBox h3
{
    color: #333;
    font-size: 1.2em;
    line-height: 1em;
    font-weight: 600;
    text-align: start;
}
.content .textBox p
{
    color: black;
    font-family: 'Poppins';
    text-align: start;
    height: 80%;
    width: 80%;
   
}
.content .textBox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #6cb840;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    text-align: start;
    justify-content: start;
    align-items: start;
    margin-left: -480px;
}
.content .imgBox
{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 160px;
    margin-top: 50px;
}

/*--- eclipse styling ----*/
.thumb
{
    position: absolute;
    left: 50%;
    top: 240px;
    transform: translateX(5%);
    display: flex;
}
.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover
{
    transform: translateY(-15px);
}
.thumb li img
{
    max-width: 50px;
}
.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #649549;
    clip-path: circle( 600px at right -100px);
}

/*--- About page styling ----*/
.about 
{
    padding: 20px;
    margin: auto;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    width: 100%;
    border: 2px solid white;
}
.about h2
{
    justify-content: center;
    color: #c28a06;
    text-align: center;
}
.about p
{
    box-sizing: content-box;
    padding-right: 25px;
    padding-left: 25px;
    margin: 20px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 30%;
}
.about img 
{
    float: left;
    margin-right: 680px;
}


/*--- menu page styling ----*/
.ourmenu
{
    background-color: rgb(20, 218, 201);
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ' box-image box-image'
    'box-image box-image ' 'box-image box-image';
}
.ourmenu h2
{
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    align-items: center;
    font-weight: 600;
    position: relative;
}
.ourmenu h2 span
{
    color: #6CB840;
}
.box 
{
    background: white;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 0px 0px 40px 0px;
    margin: auto  500px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 380px;
    margin-right: 100px;
    margin-top: 150px;
    margin-bottom: 10px;
    
    
}
.box-image
{
    position: relative;
    margin-top: -280px;
    margin-left: -20px;
    width: 200px;
    height: 200px;
}
.box h4
{
    position: absolute;
    justify-content: center;
    align-items:center;
    padding: 10px;
}
.box p
{
    color: black;
    font-size: 16px;
    font-weight: 100;
    font-family: 'Poppins';
    border: 2px;
    position: relative;
    padding: 30px;
}

/*--- happyhour page styling --*/
.happyhour
{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #C9ECB5;
    box-sizing: border-box;
    border-radius: 1px solid #C9ECB5;
}
.happyhour h2
{
    font-weight: 600;
    padding: 30px;
    text-transform: capitalize;
    font-family: 'Poppins';
}
.happyhour h2 span
{
    color: #6CB840;
}
.one 
{
    margin-top: -180px;
    margin-right: 500px;
    
}
.two
{
   position: relative; 
   margin-top: -360px;
   margin-right: 500px;
   float: right;
}
.float 
{
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: content-box;

}
.float h3
{
    color: #6CB840;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
}
.float h4
{
    padding: 10px;
}
.pag p
{
    box-sizing: content-box;
    padding-right: 25px;
    padding-left: 25px;
    margin: 10px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 30%;
}

/*--- contact page styling ---*/
.contact
{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #FFD77C;
    box-sizing: border-box;
    border-radius: 1px solid #C9ECB5;
}
.cont
{
    position: relative;
    box-sizing: content-box;
    padding: 10px;
    margin: 2px;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cont h3
{
    font-weight: 700;
    text-transform: capitalize;
    padding: 10px;
    font-size: 24px;
    font-family: 'Poppins';
}
.cont h3 span
{
    color: #6CB840;
}
.page p
{
    box-sizing: content-box;
    padding-right: 25px;
    padding-left: 25px;
    margin: 70px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 30%;
}
input
{
    border-radius: 20px;
    border: 2px  ;
    padding: 10px;
    margin: auto;
    width: 28%;
}
.cont a
{
    display: inline-block;
    background-color: #6CB840;
    margin-top: 20px;
    padding: 8px 20px;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
}



/* -- footer styling ---*/
footer
{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #C9ECB5;
    padding: 40px;
}
.fot
{
    position: relative;
    font-family: 'Poppins';
    justify-content: center;
    text-align: center;
    align-items: flex-start;
}
#het
{
    padding: 20px;
}
#het p
{
    padding-top: -12px;
}
.sept
{
    font-size: 16px;
    font-weight: 100;
    padding: 20px;
    margin-right: 480px;
    margin-left: 20px;
}
.fol
{
    padding: 40px;
    font-weight: 400;
    font-family: 'Poppins';
}
.fol h5
{
    font-size: 16px;
}
.fol p
{
    font-weight: 100;
}
.fol a
{
    float: none;
    padding-top: -30px;
    margin-left: 400px;
    margin-top: 300px;
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #6cb840;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
}